node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.saleor-init-done
storefront-dev.log
storefront-dev.pid
storefront-build.log
storefront.log
storefront.pid
dummy-payment-app-dev.log
dummy-payment-app-dev.pid

# Cloned Saleor repos (created by npm run setup)
/saleor-platform/
/storefront/
/dummy-payment-app/
